html, body, #map{
	height : 100%;
	margin : 0px;
	padding : 0px;
	position: relative;
	background-color:#5091BF;
}
.status-bar {
  margin : 40px 0px 0px 10px;
  position: fixed;
  z-index: 2147483646;
  opacity: 0.8;
}